body {
  font-family: sans-serif;
  background-color: #F0F0F0;
  height: 100vh;
  display: grid;
  align-items: center;
  text-align: center;
}

.container {
  width: 25vw;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #4F709C;
}

.slack-name {
  font-size: 24px;
  font-weight: bold;
}

.slack-display-image {
  width: 100%;
  border-radius: 10px;
}

.current-day {
  font-size: 18px;
}
[data-testid="currentDayOfTheWeek"] {
  color: #E5D283;
}

.utc-time {
  font-size: 16px;
  margin-bottom: 30px;
}
[data-testid="currentUTCTime"] {
  color: #E5D283;
}

.utc-time,
.current-day {
  font-weight: 600;
}

.container,
.current-day,
.utc-time {
  color: #213555;
}

.my-track {
  margin: 5px;
  font-size: 18px;
  font-weight: 600;
}

.github-url {
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 5px;
  background-color: #213555;
  color: #4F709C;
  transition: all .3s;
}

.container,
.github-url {
  box-shadow: 8px 20px 18px 10px rgba(0,0,0,0.1);
}

.github-url:hover {
  background-color: transparent;
  border: solid 2px #E5D283;
  color: #E5D283;
}


@media (max-width: 768px) {
  .container {
    width: 40vw;
  }
}

@media (max-width: 592px) {
  .container {
    width: 50vw;
  }
}

@media (max-width: 472px) {
  .container {
    width: 70vw;
  }
}